
body{
    font-family:  Helvetica, sans-serif;
    margin: 0;
    padding: 20px;
    background-color:#fdfdfd;
    color: #111;
    text-align: center;
}

h1{
    font-size: 2rem;
    margin-bottom: 10px;
}
.filter-buttons {
    margin-bottom: 20px;
}
button{
    padding:10px 15px;
    margin:5px;
    border:none;
    border-radius:20px;
    background:#eee;
    cursor:pointer;
    transition:0.3s
}

button.active,
button:hover{
    background:#111;
    color:#fff;
}
.gallery{
    display: grid;

    grid-template-columns: repeat(auto-fill,  minmax(220px,1fr));
    gap: 15px;
    padding:10px;
}
 .card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}


.card{
    position: relative;
    overflow: hidden;
    width:100%;
    height: 300px;
    display: block;
    border-radius: 15px;
 
    padding: 5px;
}
.save-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    background: #fff;
    border-radius:20px;
    padding: 5px 10px;
    font-size:0.9rem;
    border: none;
    cursor: pointer;
    
}